@font-face {
  font-family: "pkmn";
  src: url("PKMNRBYGSC.ttf");
}

body {
  font-family: "pkmn", monospace;
  text-align: center;
  background: #fefcfd;
}

main {
  display: none;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  margin: 0.75em;
}

button {
  font-family: "pkmn", monospace;
  text-transform: uppercase;
  background: #fefcfd;
  color: #000;
  border: 0; 
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

progress[value] {
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-color: #00f800;
  border-radius: 5px;
}

#stat-box {
  width: 65%;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
  border-bottom-right-radius: 5px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section > progress, section > div {
  flex-basis: 24%;
  margin-bottom: 10px;
}

#button-box {
  border: 6px double #000;
  width: 65%;
  margin: 1em auto;
  box-sizing: border-box;
  padding: 1em;
}

#msg {
  margin: 0 auto;
}