body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  margin: 0.75em;
}

button {
  text-transform: uppercase;
}

main {
  display: none;
}

#stat-box {
  width: 65%;
  border: 1px solid black;
  margin: 0 auto;
  padding-bottom: 0.75em;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section > div {
  flex-basis: 24%;
}

.meter {
  border: 1px solid black;
  box-sizing: border-box;
  height: 24px;
}

div > div {
  background: red;
}
